body {
    background-color: #000000;
    color: #ffffff;
    background-image: url('Robot.png');
    background-repeat: no-repeat;
    background-position: center 250px; /* Ajusta la posición de la imagen de fondo en el eje vertical */
    background-size: auto;
}
.content-container {
    max-width: 800px; /* Establece un ancho máximo para el contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 20px; /* Añade un poco de espacio alrededor del contenido */
}
.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}
nav {
    margin-top: 5px; /* Establece un margen superior de 3 cm para el menú de navegación */
}
header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    color: white;
    border-bottom: 4px solid #e8491d;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #202020;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 18px;
}

nav a:hover {
    background-color: #e8491d;
    padding: 6px 10px;
}

section {
    padding: 20px;
}
.linkedin-container {
    text-align: center;
}
