body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #35424a;
    padding: 20px;
    text-align: center;
    color: white;
    border-bottom: 4px solid #e8491d;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 18px;
}

nav a:hover {
    background-color: #e8491d;
    padding: 6px 10px;
}

section {
    padding: 20px;
}
